*{
    margin: 0%;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(248, 121, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    flex-direction: column;
}

#outer-body{
    height: 60vh;
    min-width: 40vh;
    background-color: rgba(25, 163, 228, 0.549);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1%;
    padding: 1rem;
}

#input-dis{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: lightblue;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#output-dis{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: lightblue;
    border-radius: 0 0 20px 20px;
    margin-top: -2%;
    display: flex;
    align-items: center;
    padding: 1rem;
} 
#add-btn{
    grid-column: 4;
    grid-row: 4/6;
}

#ent-btn{
    grid-column: 4;
    grid-row: 6/8;
}

#outer-body,#outer-body button{
    border-radius: 20px;
}

.btn{
    position: relative;
    border: none;
    background: transparent;
    z-index: 10;
    transition: scale 0.1s ease-in-out;
    overflow: hidden;
    font-size: 19px;
    font-family: monospace;
}

.btn::after{
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: -1;
    height: 200%;
    width: 200%;
    content: '';
    border-radius: 20px;
    transition: transform 0.3s ease-in;
    background: linear-gradient(60deg, rgb(66, 233, 255),rgb(243, 186, 80));
    animation: rotate 10s infinite linear;
}

footer{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 15vh;
    width: 40vh
}
#historybtn{
    background-color: rgba(25, 163, 228, 0.549);
    padding: 1rem;
    width: 7rem;
    height: 4em;
    border-radius: 20px;
    color: black;
    font-size: large;
    border: none;
    outline: none;
    img{
        position: relative;
        height: 3rem;
        width: 3rem;
        top: -0.2rem;
    }
}
.historyBlock{
    white-space: pre-line;
    position: absolute;
    top: 0;
    left: 27vw;
    width: 40vw;
    height: 70vh;
    background-color: lightskyblue;
    z-index: 10;
    animation: drop 1s ease;
    display: none;
    color: black;
    padding: 2rem;
    border-radius: 20px;
}
.active{
    display: block;
}
/* div's in history block will get this styling */
.x{   
    height: 2rem;
    background-color: whitesmoke;
    padding: 0.5rem;
}

@keyframes drop{
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}

@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

button:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 1px rgb(91, 89, 99);
}

button:active{
    transform: scale(.95);
}

@media screen and (max-width: 450px) {
    #outer-body{
        max-width: 22vw;
    }
    #his-block{
        margin-top: 0.5rem;
        left: 2vw;
        width: 80vw;
    }
}