*{
    margin: 0%;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(248, 121, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#outer-body{
    height: 60vh;
    min-width: 40vh;
    background-color: rgba(25, 163, 228, 0.549);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1%;
    padding: 1rem;
}

#input-dis{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: lightblue;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#output-dis{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: lightblue;
    border-radius: 0 0 20px 20px;
    margin-top: -2%;
    display: flex;
    align-items: center;
    padding: 1rem;
} 
#add-btn{
    grid-column: 4;
    grid-row: 4/6;
}

#ent-btn{
    grid-column: 4;
    grid-row: 6/8;
}

#outer-body,#outer-body button{
    border-radius: 20px;
}

button{
    position: relative;
    border: none;
    background: transparent;
    z-index: 10;
    transition: scale 0.1s ease-in-out;
    overflow: hidden;
    font-size: 19px;
    font-family: monospace;
}

button::after{
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: -1;
    height: 200%;
    width: 200%;
    content: '';
    border-radius: 20px;
    transition: transform 0.3s ease-in;
    background: linear-gradient(60deg, rgb(66, 233, 255),rgb(243, 186, 80));
    animation: rotate 10s infinite linear;
}

@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

button:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 1px rgb(91, 89, 99);
}

button:active{
    transform: scale(.95);
}